<div class="login-container">
    <div class="login-box">
        <p class="login-title">User Login</p>

        <form class="login-form" #loginForm="ngForm" (ngSubmit)="loginBtn(loginForm)" novalidate>
            <input 
                type="text"
                name="username"
                [(ngModel)]="LoginData.username"
                #username="ngModel"
                required
                placeholder="Enter username"                
            />
                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error-message">
                    Username is required.
                </div>

            <input 
                type="password"
                name="password"
                [(ngModel)]="LoginData.password"
                #password="ngModel"
                required
                placeholder="Enter password"
            />
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-message">
                    Password is required.
                </div>

                <button mat-raised-button 
                class="login-btn"
                type="submit"
                [disabled]="!loginForm.valid"
                >
                Login
                </button>
        </form>
    </div>
</div>