<app-header></app-header>

<div class="user-management-card">
  <h2>User Management System
    <div class="row">
      <div class="col-sm-2">
      </div>
    </div>
  </h2>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input 
    #filterInput
    matInput 
    [disabled]="(!canSeeForm)"
    (keyup)="canSeeForm && applyFilter($event)" 
    placeholder="Ex. Alex">
</mat-form-field>

<div class="table-wrap">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- COLUMNS -->
     
    <!-- ID Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let user"> {{user.userId}} </td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
      <td mat-cell *matCellDef="let user"> {{user.username}} </td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
      <td mat-cell *matCellDef="let user"> {{user.role}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="user.isActive=== true" class="status-active">Active
        </span>
        <span *ngIf="user.isActive === false" class="status-inactive">Inactive
        </span>
      </td>
    </ng-container>

      <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user">
        <!-- Edit Btn -->
          <button
          mat-raised-button 
          class="edit-btn" 
          (click)="onEditClick(user)"
          >Edit
        </button>
        <!-- Delete Btn -->
          <button 
          *ngIf="auth.hasRole(Roles.Admin)" 
          mat-raised-button class="delete-btn" 
          (click)="deleteUser(user.userId)"
          >Delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
          No data matching the filter "{{filterInput.value}}"
      </td>
    </tr>
  </table>
</div> 

  @if (canSeeForm) {
    <mat-paginator 
      [length]="total"
      [pageSizeOptions]="[5, 10, 25, 100]" 
      aria-label="Select page of users">
    </mat-paginator>
  }

  <!-- Add user Form-->
  @if (auth.hasRole(Roles.Admin) || editMode) {
  <div class="user-form-container">
    <h4>Add/Edit User</h4>
  </div>
  
  <!-- FORM FIELD-->
  <form #userForm="ngForm" (ngSubmit)="onUserFormSubmit(userForm)"
  novalidate>
    <div class="form-row">

        <!-- USERNAME FIELD-->
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Username</mat-label>
        <input 
          matInput 
          type="text" 
          name = "username"
          [(ngModel)]="UserFormData.username"
          #username="ngModel"
          [required]="!editMode"
          minlength="3"
          placeholder="Enter username" 
        >
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert">
          <div *ngIf="username.errors?.['required']">
            Username is required.
          </div>
          <div *ngIf="username.errors?.['minlength']">
            Username must be at least 3 characters long.
          </div>
        </div>
        <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>

        <!-- EMAIL FIELD -->
        <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          name = "email"
          [(ngModel)]="UserFormData.email"
          #email="ngModel"
          [required]="!editMode"
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          placeholder="Enter email" 
        >
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
          <div *ngIf="email.errors?.['required']">
            Email is required.
          </div>
          <div *ngIf="email.errors?.['pattern']">
            Please enter a valid email address.
          </div>
        </div>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>

    <!-- FIRST NAME FIELD -->
      <div class="form-row">
        <mat-form-field class="form-field" appearance="outline">
        <mat-label>First name</mat-label>
        <input 
          matInput
          type="text" 
          name = "firstName" 
          [(ngModel)]="UserFormData.firstName"
          #firstName="ngModel"
          [required]="!editMode"
          minlength="2"
          placeholder="Enter first name" 
        >
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert">
          <div *ngIf="firstName.errors?.['required']">
            First name is required.
          </div>
          <div *ngIf="firstName.errors?.['minlength']">
            First name must be at least 2 characters long.
          </div>
        </div>        
        <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <!-- LAST NAME FIELD -->
        <mat-form-field class="form-field" appearance="outline">
        <mat-label>Last name</mat-label>
        <input
          matInput
         type="text"  
         name = "lastName" 
         [(ngModel)]="UserFormData.lastName"
         #lastName="ngModel"
         [required]="!editMode"
         minlength="2"
         placeholder="Enter last name"
         >
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert">
          <div *ngIf="firstName.errors?.['required']">
            First name is required.
          </div>
          <div *ngIf="firstName.errors?.['minlength']">
            First name must be at least 2 characters long.
          </div>
        </div>        
        <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
    </div>

        <!-- STATUS FIELD -->
      <div class="form-row">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Select status</mat-label>
          <mat-select 
          name="isActive"
          [(ngModel)]="UserFormData.isActive"
          [required]="!editMode"
          >
              <!-- <mat-option [value]=null disabled>-- Select status --</mat-option> -->
              <mat-option [value]="true">Active</mat-option>
              <mat-option [value]="false">Inactive</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- ROLE FIELD -->
        @if (canChangeRole) {
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Select role</mat-label>
          <mat-select 
          name="role"
          [(ngModel)]="UserFormData.role"
          [required]="!editMode"
          >
              <mat-option [value]=null disabled>-- Select role --</mat-option>
              <mat-option *ngFor="let role of roles" [value]="role"> {{ role }}</mat-option>
          </mat-select>
        </mat-form-field>
      }
      </div>
  
      <!-- PASSWORD FIELD -->
      @if (canChangePassword) {
      <div class="form-row">
        <mat-form-field class="form-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input 
          matInput
          type="password" 
          name = "password"
          [(ngModel)]="UserFormData.password"
          #password="ngModel"
          [required]="!editMode"
          minlength="5"
          placeholder="Enter password"
        >
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
          <div *ngIf="password.errors?.['required']">
            Password is required.
          </div>
          <div *ngIf="password.errors?.['minlength']">
            Password must be at least 5 characters long.
          </div>
        </div>           
        <mat-icon matSuffix>password</mat-icon>
      </mat-form-field>

        <!-- CONFIRM PASSWORD FIELD -->
        <mat-form-field class="form-field" appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input
          matInput 
          type="password"
          name = "confirmPassword"
          [(ngModel)]="UserFormData.confirmPassword"
          #confirmPassword="ngModel"
          [required]="!editMode"
          minlength="5"
          placeholder="Confirm password"
        >
        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert">
          <div *ngIf="confirmPassword.errors?.['required']">
            Password is required.
          </div>
        </div>
        <div *ngIf="
          confirmPassword.dirty &&
          confirmPassword.value && 
          confirmPassword.value !== UserFormData.password"
          class="alert"
        >
          Passwords must match.
        </div>      
        <mat-icon matSuffix>password</mat-icon>
      </mat-form-field>
    </div>
  }

    <div class="button-group">
      <!-- Admin -->
        <button
          *ngIf="auth.hasRole(Roles.Admin)"
          mat-raised-button 
          class="save-user"
          type="submit"
          [disabled]="!userForm.valid && !editMode"
        >
          {{editMode ? 'Update User' : 'Create User'}}
        </button>

        <!-- Supervisor -->
        <button
          *ngIf="auth.hasRole(Roles.Supervisor)"
          mat-raised-button 
          class="save-user"
          type="submit"
          [disabled]="!editMode"
        >
        Update User
        </button>      

      <button 
        mat-raised-button 
        class="reset-form-btn"
        type="button"
        (click)="onResetClick()"
        >Reset form
      </button>

    </div>
  </form>
  }
</div>
